body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

div.container {
  max-width: 50em; /* Equivalent to 800px */
  margin: 1.25em auto; /* Equivalent to 20px */
  padding: 1.25em; /* Equivalent to 20px */
  background-color: #fff;
  box-shadow: 0.25em 0.25em 0.3125em rgba(197, 197, 197, 1); /* Equivalent to 4px, 5px */
  border-radius: 1.25em; /* Equivalent to 20px */
}

h1.about {
  font-size: 1.25em; /* Changed from "x-large" to a specific em value */
  margin-bottom: 2.1875em; /* Equivalent to 35px */
  color: #2c3e50;
  text-align: center;
}

.container p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 0.625em; /* Equivalent to px */
  padding-bottom: 0.9375em; /* Equivalent to 15px */
}

p a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

strong {
  color: #e74c3c;
}

.back-to-top {
  position: fixed;
  bottom: 1.25em; /* Equivalent to 20px */
  right: 1.25em; /* Equivalent to 20px */
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 0.625em 0.9375em; /* Equivalent to 10px 15px */
  font-size: 0.9375em; /* Equivalent to 15px */
  cursor: pointer;
  box-shadow: 0px 0.25em 0.5em rgba(0, 0, 0, 0.2); /* Equivalent to 4px and 8px */
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #2980b9;
}

@media (max-width: 600px) {
  .container {
    padding: 0.9375em; /* Equivalent to 15px */
  }

  h1.about {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
}
