h1 {
  display: block;
  text-align: center;
  color: #003366;
  font-size: 1.5em; /* Larger size, translated to em */
  font-weight: bolder;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

h2 {
  display: block;
  text-align: center;
  color: #003366;
  font-size: 1.25em; /* Medium size, translated to em */
  font-weight: bolder;
  margin-top: 1em;
  margin-bottom: 0em;
}

.station-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.station-card {
  border: 0.0625em solid #ccc; /* Equivalent to 1px */
  padding: 0.25em; /* Equivalent to 4px */
  margin: 0.375em; /* Equivalent to 6px */
  border-radius: 1.25em; /* Equivalent to 20px */
  width: 28.125em; /* Equivalent to 450px */
  text-align: center;
  background-color: #fff;
  box-shadow: 0.25em 0.25em 0.3125em rgba(197, 197, 197, 1); /* Equivalent to 4px, 5px */
}

.station-card img {
  max-width: 9.375em; /* Equivalent to 150px */
  border-radius: 20%;
  display: block;
  margin: 0 auto;
}

.now-playing h3,
.now-playing span {
  display: inline-block;
  vertical-align: middle;
}

.now-playing h3 {
  margin-right: 0.375em; /* Equivalent to 6px */
  color: #376666;
}

.listen-now {
  color: rgb(3, 5, 98);
  font-weight: bold;
  margin-bottom: 0.5em;
}

.listen-now a {
  color: rgb(3, 5, 98);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.9s ease;
}

.listen-now a:hover {
  color: #68c0c0;
}

.listen-now a::after {
  content: "";
  position: relative;
  width: 0%;
  height: 0.0625em; /* Equivalent to 1px */
  display: block;
  margin-top: 0.3125em; /* Equivalent to 5px */
  background: #003366;
  transition: width 0.9s ease;
}

.listen-now a:hover::after {
  width: 100%;
}
